body {
    font: 18px arial, sans-serif;
    background: #eee;
    margin: 0 auto;
    height: 100vh;
}
header {
    background-color: red;
    color: #fff;
    height: 200px;
    padding-top: 4%;
}
header h1 {
    font-size: 3.5em;
}
.main-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
}



#pokeIntro {
    margin: 0 auto;
    width: 100%;
}
.welcome-text {
    font-size: 1.5em;
    padding: 150px;
}
.welcome-text h2{
    font-weight: bold;
    color: #555;
}
/* ------------------------------------------------------------------------------------------------ */
.caron img{
    color: #777;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
}
@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 100px, 0);
    }
}
/* Prefix Support */
  
.caron img {
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: cubic-bezier(
    .5, 0.05, 1, .5);
    -webkit-animation-iteration-count: infinite;
}
  
@-webkit-keyframes bounce {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 200px, 0);
        transform: translate3d(0, 200px, 0);
    }
}

/* ------------------------------------------------------------------------------------------------ */

.pokeNameDiv {
    color: red;
    margin: 0 auto 15px auto;
    padding: 10px 0px;
    text-align: center;
    font-size: 2.75rem;
    font-weight: bold;
    text-transform: capitalize;
}
.red-border {
    border-bottom: 2px red dotted;
}
#pokeImgDiv {
    height: auto;
    width: 25%;
    display: block;
    float: left;
}
#pokeInfoDiv {
    color: #999;
    text-align: center;
}
.pokeType {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #777;
    text-align: center;
    text-transform: capitalize;

}
.pokeType::before {
    content: "Type";
    display: inline-block;
    text-decoration: underline;
    font-size: 2em;
    font-weight: bold;
    color: #555;
}
.statBox {
    text-transform: capitalize;
    font-size: 1.25em;
}
.statBox::before {
    content: "Stats";
    text-decoration: underline;
    font-size: 1.5em;
    font-weight: bold;
    color: #777;
}
.pokeInfoDiv-flvr-text {
    font-size: 1.5em;
}
.pokeInfoDiv-flvr-text::before {
    content: "Pokedex Entry:";
    text-decoration: underline;
    font-size: 1.5em;
    font-weight: bold;
    color: #777;
}
#love {
    color: red;
}
.actionRow {
    height: 150px;
    padding-top: 25px;
    text-align: center;
    background-color: #333;
    color: white;
}
button#pokeGet {
    display: inline-block;
    border: none;
    padding: 30px 90px;
    text-decoration: none;
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 1.5em;
}
#pokeballs {
    background-color: black;
    height: 250px;
    width: 100%;
    padding: 25px;
}
.unfilled {
    display: inline-block;
    margin: 0 2.5%;
    width: 10vw;
    height: 10vw;
    background-color: #444; 
    border-radius: 50%;
}
.pokeball {
    display: inline-block;
    margin: 0 2.5%;
    width: 10vw;
    height: 10vw;
    background: linear-gradient( 0deg, #ddd, white 49%, black 49%, black 51%, red 51% ); 
    border-radius: 50%;
}